.GalleryBox {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}
.Gallery {
  border-radius: 8px;
  width: 800px;
  margin: 50px auto 20px;
  background-color: #e9e9e9;
  text-align: center;
  position: relative;
  padding: 25px;
}
.Gallery .title {
  font-size: 30px;
  color: #444;
  margin-bottom: 10px;
}
.Gallery img {
  height: 380px;
  margin: 0 auto;
  max-height: 380px;
}
.Gallery .caption {
  color: #aaa;
  font-size: 14px;
}
.Gallery .explanation {
  color: #666;
  text-align: justify;
  font-size: 15px;
  margin-top: 30px;
  line-height: 22px;
}
.close-x {
  color: #e9e9e9;
  font-size: 35px;
  position: absolute;
  top: -12px;
  right: -35px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .Gallery {
    width: calc(100% - 100px);
  }
  .Gallery img {
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .Gallery {
    width: calc(100% - 20px);
  }
  .close-x {
    color: #e9e9e9;
    font-size: 35px;
    position: absolute;
    top: -50px;
    right: calc(50% - 13px);
    cursor: pointer;
  }
}
