.HighlightBox {
  margin: 0px auto 50px;
}
.HighlightBox h1 {
  font-size: 30px;
  font-family: "Helvetica";
  text-align: center;
  color: #fff;
  margin: 25px auto 10px;
}
.Highlight {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #fff;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 342px;
  position: relative;
}
.Highlight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Highlight .date {
  z-index: 2;
  position: absolute;
  top: 14px;
  right: 15px;
  font-size: 10px;
  color: pink;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1050px) {
  .Highlight {
    width: 95%;
  }
}
